<div class="head py-48 px-10">
  <h2 class="text-white text-center font-bold text-5xl">Quienes Somos</h2>
  <p class="text-white text-center max-w-xl m-auto mt-10">
    Tu mejor opción antes, durante y después de una dificultad médica, nuestros
    +25 años de experiencia nos posicionan como una de tus mejores opciones en
    cuanto a nivel de salud se trata
  </p>
</div>
<style>
  .head {
    background-image: linear-gradient(
        to bottom,
        rgb(1 31 36 / 50%),
        rgb(1 31 36 / 50%)
      ),
      url("headernosotros.webp");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
  }
</style>
