<div
  class="py-48 px-10 bg-[url('/hnosotros.webp')] w-full bg-cover bg-center h-auto bg-no-repeat"
>
  <h2 class="text-white text-center font-bold text-5xl">Quienes Somos</h2>
  <p class="text-white text-center max-w-xl m-auto mt-10">
    Tu mejor opción antes, durante y después de una dificultad médica, nuestros
    +25 años de experiencia nos posicionan como una de tus mejores opciones en
    cuanto a nivel de salud se trata
  </p>
</div>
