---
import TablerMvv from "../../../icons/Tabler-Mvv.astro";
---

<div class="flex flex-col gap-6 py-10 px-4 md:px-12">
  <div
    class="flex flex-col-reverse gap-x-10 m-auto px-4 py-6 items-center md:flex-row"
  >
    <div class="flex flex-col">
      <h3 class="text-[#033D49] text-2xl font-bold">Mision</h3>
      <p class="font-semibold max-w-[680px]">
        Somos una clínica comprometida con la salud de nuestros pacientes
        brindando servicios seguros y confiables
      </p>
    </div>
    <span
      class="bg-[#033D49] text-white rounded-full text-center h-24 w-24 flex items-center justify-center"
    >
      <TablerMvv class="size-12" />
    </span>
  </div>
  <div
    class="flex flex-col gap-10 m-auto px-4 py-6 items-center justify-center md:flex-row"
  >
    <span
      class="bg-[#033D49] text-white rounded-full text-center h-24 w-24 flex items-center justify-center"
    >
      <TablerMvv class="size-12" />
    </span>
    <div class="flex flex-col">
      <h3 class="text-[#033D49] text-2xl font-bold">Vision</h3>
      <p class="font-semibold max-w-[680px]">
        Ser una red de salud acreditada con estándares internacionales y
        reconocida por nuestro prestigio, trayectoria y vocación de servicio
      </p>
    </div>
  </div>
  <div
    class="flex flex-col-reverse gap-10 m-auto px-4 py-6 items-center justify-center md:flex-row"
  >
    <div class="flex flex-col">
      <h3 class="text-[#033D49] text-2xl font-bold">Valores</h3>
      <p class="font-semibold max-w-[680px]">
        Confianza - Integridad - Perseverancia - Ética - Vocación de servicio -
        Respeto - Tolerancia
      </p>
    </div>
    <span
      class="bg-[#033D49] text-white rounded-full text-center h-24 w-24 flex items-center justify-center"
    >
      <TablerMvv class="size-12" />
    </span>
  </div>
</div>
