<h2 class="text-3xl text-center font-bold py-10 text-[#033D49]">
  Sobre Nosotros
</h2>
<div
  class="flex flex-col-reverse items-center m-auto gap-x-20 gap-y-10 px-10 py-10 justify-center md:flex-row"
>
  <div class="flex flex-col gap-6">
    <p class="max-w-[580px]">
      <strong class="text-[#2C426A]"
        >¿Busca una clínica confiable y de confianza? ¡No busque más!</strong
      > Nuestra clínica ha estado <strong class="text-[#0799B6]"
        >sirviendo a la comunidad</strong
      > durante más de 25 años, brindando <strong class="text-[#0799B6]"
        >atención médica de primer nivel</strong
      >
      y construyendo relaciones duraderas con nuestros pacientes.
    </p>
    <p class="max-w-[580px]">
      Somos <strong class="text-[#0799B6]">Health Clinic</strong>, considerada
      una de las <strong class="text-[#0799B6]">mejores opciones</strong> en el ámbito
      de salud, <strong class="text-[#0799B6]"
        >reconocida y con buenas calificaciones</strong
      > tanto a nivel nacional como internacional
    </p>
  </div>
  <img
    class="size-64"
    src="nosotros01.png"
    alt="nosotros uno"
    width="100%"
    height="100%"
    title="nosotros uno"
  />
</div>
<div
  class="flex flex-col items-center m-auto gap-x-20 gap-y-10 px-10 py-10 justify-center md:flex-row"
>
  <img
    class="size-64"
    src="nosotros01.png"
    alt="nosotros dos"
    width="100%"
    height="100%"
    title="nosotros uno"
  />
  <div class="flex flex-col gap-6">
    <p class="max-w-[580px]">
      Desde <strong class="text-[#0799B6]">atención de emergencia</strong> hasta
      <strong class="text-[#0799B6]">tratamientos especializados</strong>, somos
      una institución confiable que prioriza a los pacientes y se esfuerza por
      mejorar la salud y el bienestar de todos aquellos que cruzan sus puertas.
    </p>
    <p class="max-w-[580px]">
      Con <strong class="text-[#0799B6]">tecnología de punta</strong> y un equipo
      de <strong class="text-[#0799B6]">médicos y enfermeras capacitados</strong
      >, estamos equipados para manejar una amplia gama de condiciones médicas y
      emergencias. Tenga la seguridad de que estará en buenas manos en nuestras
      instalaciones.
    </p>
  </div>
</div>
