---
import Facebook from "../../../icons/Tabler-brand-facebook.astro";
---

<section class="px-12 py-10 md:px-16 lg:px-28">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-10">
    <!-- card especialidades -->
    <div
      class="group flex items-center gap-x-4 bg-white rounded-md shadow-md hover:bg-[#033D49] py-6 px-5"
    >
      <span
        class="bg-[#033D49] text-white rounded-full text-center h-12 w-12 flex items-center justify-center group-hover:text-[#033D49] group-hover:bg-white"
      >
        <Facebook class="icon size-6" />
      </span>
      <h3 class="font-bold text-lg group-hover:text-white">Alergia</h3>
    </div>
    <!-- card especialidades -->
    <div
      class="group flex items-center gap-x-4 bg-white rounded-md shadow-md hover:bg-[#033D49] py-6 px-5"
    >
      <span
        class="bg-[#033D49] text-white rounded-full text-center h-12 w-12 flex items-center justify-center group-hover:text-[#033D49] group-hover:bg-white"
      >
        <Facebook class="icon size-6" />
      </span>
      <h3 class="font-bold text-lg group-hover:text-white">Alergia</h3>
    </div>
    <!-- card especialidades -->
    <div
      class="group flex items-center gap-x-4 bg-white rounded-md shadow-md hover:bg-[#033D49] py-6 px-5"
    >
      <span
        class="bg-[#033D49] text-white rounded-full text-center h-12 w-12 flex items-center justify-center group-hover:text-[#033D49] group-hover:bg-white"
      >
        <Facebook class="icon size-6" />
      </span>
      <h3 class="font-bold text-lg group-hover:text-white">Alergia</h3>
    </div>
  </div>
</section>

<section class="px-12 py-10 md:px-16 lg:px-28">
  <h2 class="font-bold text-2xl text-[#033D49] mb-12">
    Servicios Complementarios
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-16 gap-y-10">
    <!-- card -->
    <div
      class="group flex flex-col gap-y-4 bg-white shadow-md py-20 px-8 rounded-lg hover:bg-[#033D49] hover:text-white"
    >
      <span
        class="bg-[#033D49] text-white rounded-full text-center h-12 w-12 flex items-center justify-center group-hover:text-[#033D49] group-hover:bg-white"
      >
        <Facebook class="icon size-6" />
      </span>
      <h3 class="font-bold text-xl">Espacio de Lactancia</h3>
      <p class="text-sm max-w-64">
        Contamos con un espacio privado para atender las necesidades de los más
        pequeños en el tema de alimentos principales o primarios
      </p>
    </div>

    <!-- card -->
    <div
      class="group flex flex-col gap-y-4 bg-white shadow-md py-20 px-8 rounded-lg hover:bg-[#033D49] hover:text-white"
    >
      <span
        class="bg-[#033D49] text-white rounded-full text-center h-12 w-12 flex items-center justify-center group-hover:text-[#033D49] group-hover:bg-white"
      >
        <Facebook class="icon size-6" />
      </span>
      <h3 class="font-bold text-xl">Espacio de Lactancia</h3>
      <p class="text-sm max-w-64">
        Contamos con un espacio privado para atender las necesidades de los más
        pequeños en el tema de alimentos principales o primarios
      </p>
    </div>
    <!-- card -->
    <div
      class="group flex flex-col gap-y-4 bg-white shadow-md py-20 px-8 rounded-lg hover:bg-[#033D49] hover:text-white"
    >
      <span
        class="bg-[#033D49] text-white rounded-full text-center h-12 w-12 flex items-center justify-center group-hover:text-[#033D49] group-hover:bg-white"
      >
        <Facebook class="icon size-6" />
      </span>
      <h3 class="font-bold text-xl">Espacio de Lactancia</h3>
      <p class="text-sm max-w-64">
        Contamos con un espacio privado para atender las necesidades de los más
        pequeños en el tema de alimentos principales o primarios
      </p>
    </div>
  </div>
</section>
