<div
  class="py-52 pl-20 pr-10 bg-[url('/hespecialidades.webp')] w-full bg-cover bg-center h-auto bg-no-repeat"
>
  <h2 class="text-white font-bold text-5xl">Nuestras Especialidades</h2>
  <p class="text-white max-w-xl mt-10">
    Pensando en tu bienestar, una amplia gama de especialidades y servicios
    médicos equipados con tecnología sofisticada, ofrecen una óptima
    experiencia.
  </p>
</div>
