<section class="w-8/12 m-auto py-10">
  <h2 class="text-3xl text-center font-bold py-10 text-[#033D49]">
    Nuestros Convenios
  </h2>
  <div class="flex justify-around flex-wrap">
    <img src="rimac.png" width="120" alt="img convenio" title="rimac" />
    <img src="rimac.png" width="120" alt="img convenio" title="rimac" />
    <img src="rimac.png" width="120" alt="img convenio" title="rimac" />
    <img src="rimac.png" width="120" alt="img convenio" title="rimac" />
    <img src="rimac.png" width="120" alt="img convenio" title="rimac" />
  </div>
</section>
