<section class="m-auto py-10 px-10">
  <h2 class="text-3xl text-center font-bold py-10 text-[#033D49]">
    Nuestros Convenios
  </h2>
  <div
    class="flex flex-wrap m-auto items-center justify-center gap-x-28 gap-y-10"
  >
    <img src="rimac_logo.webp" width="120" alt="img logo rimac" title="rimac" />
    <img
      src="mapfre_logo.webp"
      width="120"
      alt="img logo mapfre"
      title="mapfre"
    />
    <img
      src="lapositivaseguros_logo.webp"
      width="120"
      alt="img logo la positiva"
      title="la positiva"
    />
    <img
      src="pacifico_logo.webp"
      width="120"
      alt="img logo pacifico"
      title="pacifico"
    />
    <img
      src="interseguros_logo.webp"
      width="120"
      alt="img logo inter seguro"
      title="interseguro"
    />
  </div>
</section>
