---
import Facebook from "../../icons/Tabler-brand-facebook.astro";
import TablerPhone from "../../icons/Tabler-phone.astro";
import TablerMap from "../../icons/Tabler-map-pin.astro";
import TablerMail from "../../icons/Tabler-mail.astro";
---

<footer id="contactenos" class="bg-[#011F24]">
  <!-- Footer inicial -->
  <div class="flex p-10 gap-9 justify-evenly w-11/12 m-auto flex-wrap">
    <section>
      <h5 class="text-white font-semibold text-lg mb-3">Contacto</h5>
      <ul class="space-y-2">
        <li class="flex items-center text-white text-xs mb-3">
          <TablerPhone class="size-4 mr-1" /> +51 987 654 321
        </li>
        <li class="flex items-center text-white text-xs mb-3">
          <TablerMap class="size-4 mr-1" /> Mz E lote E - Lima Centro
        </li>
        <li class="flex items-center text-white text-xs">
          <TablerMail class="size-4 mr-1" /> clinica@company.com
        </li>
      </ul>
    </section>
    <section>
      <h5 class="text-white font-semibold text-lg mb-3">Clinica</h5>
      <ul class="space-y-2">
        <li class="flex items-center text-white text-xs list-disc">
          +51 987 654 321
        </li>
        <li class="flex items-center text-white text-xs">+51 987 654 321</li>
        <li class="flex items-center text-white text-xs">+51 987 654 321</li>
        <li class="flex items-center text-white text-xs">+51 987 654 321</li>
      </ul>
    </section>
    <section>
      <h5 class="text-white font-semibold text-lg mb-3">Atencion al usuario</h5>
      <ul class="space-y-2 list-disc">
        <li class="flex items-center text-white text-xs">+51 987 654 321</li>
        <li class="flex items-center text-white text-xs">+51 987 654 321</li>
        <li class="flex items-center text-white text-xs">+51 987 654 321</li>
        <li class="flex items-center text-white text-xs">+51 987 654 321</li>
      </ul>
    </section>
  </div>
  <!-- Linea -->
  <hr class="border-gray-50 opacity-15" />
  <!-- Footer final -->
  <div class="flex justify-between w-11/12 m-auto py-2 flex-wrap">
    <h6 class="text-white text-xs">Ningun derecho es reservado</h6>
    <span class="text-white text-xs">
      Disenado e Implementado por
      <a class="font-bold" href="/" target="_blank">JVC</a></span
    >
  </div>
</footer>
