---
import TablerPhone from "../../icons/Tabler-phone.astro";
import TablerMap from "../../icons/Tabler-map-pin.astro";
import TablerMail from "../../icons/Tabler-mail.astro";
---

<footer id="contactenos" class="bg-[#011F24]">
  <!-- Footer inicial -->
  <div class="flex p-10 gap-9 justify-evenly w-11/12 m-auto flex-wrap">
    <section>
      <h3 class="text-white font-semibold text-lg mb-3">Contacto</h3>
      <ul class="space-y-3">
        <li class="flex items-center text-white text-xs">
          <TablerPhone class="size-4 mr-1" /> +51 987 654 321
        </li>
        <li class="flex items-center text-white text-xs">
          <TablerMap class="size-4 mr-1" /> Mz E lote E - Lima Centro
        </li>
        <li class="flex items-center text-white text-xs">
          <TablerMail class="size-4 mr-1" /> clinica@company.com
        </li>
      </ul>
    </section>
    <section>
      <h3 class="text-white font-semibold text-lg mb-3">Health Clinic</h3>
      <ul class="space-y-5">
        <li class="flex items-center text-white text-xs list-disc">
          ¿Quiénes somos?
        </li>
        <li class="flex items-center text-white text-xs">
          Trabaja con nosotros
        </li>
        <li class="flex items-center text-white text-xs">
          Preguntas Frecuentes
        </li>
        <li class="flex items-center text-white text-xs">
          Términos y condiciones
        </li>
      </ul>
    </section>
    <section>
      <h3 class="text-white font-semibold text-lg mb-3">Atención al usuario</h3>
      <ul class="space-y-5">
        <li class="flex items-center text-white text-xs">Especialidades</li>
        <li class="flex items-center text-white text-xs">
          Atención al usuario
        </li>
        <li class="flex items-center text-white text-xs">
          Deberes y derechos del usuario
        </li>
        <li class="flex items-center text-white text-xs">
          Libros de reclamaciones
        </li>
      </ul>
    </section>
  </div>
  <!-- Linea -->
  <hr class="border-gray-50 opacity-15" />
  <!-- Footer final -->
  <div
    class="flex flex-col justify-center items-center w-11/12 m-auto py-3 flex-wrap sm:flex-row sm:justify-between gap-y-1"
  >
    <span class="text-white text-xs">No todos los derechos son reservados</span>
    <span class="text-white text-xs">
      Diseñado e Implementado por
      <a class="font-bold" href="/" target="_blank">JVC</a></span
    >
  </div>
</footer>
