---
import Facebook from "../../icons/Facebook.astro";
---

<footer class="bg-[#011F24]">
  <!-- Footer inicial -->
  <div class="flex p-10 gap-9 justify-evenly w-[1280px] m-auto">
    <section>
      <h4 class="text-white font-semibold text-lg mb-3">Contacto</h4>
      <ul class="space-y-2">
        <li class="flex items-center text-white text-xs">
          <Facebook /> +51 987 654 321
        </li>
        <li class="flex items-center text-white text-xs">
          <Facebook /> +51 987 654 321
        </li>
        <li class="flex items-center text-white text-xs">
          <Facebook /> +51 987 654 321
        </li>
      </ul>
    </section>
    <section>
      <h4 class="text-white font-semibold text-lg mb-3">Clinica</h4>
      <ul class="space-y-2 list-disc">
        <li class="flex items-center text-white text-xs">+51 987 654 321</li>
        <li class="flex items-center text-white text-xs">+51 987 654 321</li>
        <li class="flex items-center text-white text-xs">+51 987 654 321</li>
        <li class="flex items-center text-white text-xs">+51 987 654 321</li>
      </ul>
    </section>
    <section>
      <h4 class="text-white font-semibold text-lg mb-3">Atencion al usuario</h4>
      <ul class="space-y-2 list-disc">
        <li class="flex items-center text-white text-xs">+51 987 654 321</li>
        <li class="flex items-center text-white text-xs">+51 987 654 321</li>
        <li class="flex items-center text-white text-xs">+51 987 654 321</li>
        <li class="flex items-center text-white text-xs">+51 987 654 321</li>
      </ul>
    </section>
  </div>
  <!-- Linea -->
  <hr class="border-gray-50 opacity-15" />
  <!-- Footer final -->
  <div class="flex justify-between w-[1280px] m-auto py-2">
    <h6 class="text-white text-xs">Ningun derecho es reservado</h6>
    <span class="text-white text-xs">
      Disenado e Implementado por
      <a class="font-bold" href="/" target="_blank">JVC</a></span
    >
  </div>
</footer>
