---
import Facebook from "../../icons/Tabler-brand-facebook.astro";
import Instagram from "../../icons/Tabler-brand-instagram.astro";
import Mail from "../../icons/Tabler-mail.astro";
import Whastapp from "../../icons/Whastapp.astro";
import TablerLogo from "../../icons/Tabler-Mvv.astro";
---

<!-- Primer NavBar -->
<div class="bg-[#045C6D]">
  <nav class="flex justify-between m-auto py-2 px-2 flex-wrap">
    <div class="flex items-center gap-3 flex-wrap">
      <a
        href="#"
        class="text-xs font-semibold text-white inline-flex items-center gap-x-2"
        title="correo de contacto"
        ><Mail class="size-4" /> clinica@company.com</a
      >
      <a
        href="#"
        class="text-xs font-semibold text-white inline-flex items-center gap-x-2"
        title="numero de contacto"
      >
        <Whastapp class="size-4" /> +51 987 654 321
      </a>
    </div>
    <div class="flex items-center gap-2">
      <a
        href="#"
        class="text-xs font-semibold text-white gap-2"
        title="nuestro instagram"
      >
        <Instagram />
      </a>
      <a
        href="#"
        class="text-xs font-semibold text-white gap-2"
        title="nuestro facebook"
      >
        <Facebook />
      </a>
      <a href="#" class="text-xs font-semibold text-white gap-2" title="idiomas"
        >ES</a
      >
    </div>
  </nav>
</div>
<!-- NavBar Principal -->
<div class="bg-[#247f91]">
  <nav class="flex justify-between py-5 px-36 m-auto flex-wrap items-center">
    <a href="/" title="logo de la empresa">
      <TablerLogo class="size-10" />
    </a>
    <ul class="flex gap-4 flex-wrap py-2">
      <li class="hover:underline">
        <a class="text-white font-semibold text-base" href="/">Inicio</a>
      </li>
      <li class="hover:underline">
        <a class="text-white font-semibold text-base" href="nosotros"
          >Nosotros</a
        >
      </li>
      <li class="hover:underline">
        <a class="text-white font-semibold text-base" href="servicios"
          >Servicios</a
        >
      </li>
      <li class="hover:underline">
        <a class="text-white font-semibold text-base" href="especialidades"
          >Especialidades</a
        >
      </li>
      <li class="hover:underline">
        <a class="text-white font-semibold text-base" href="medicos"
          >Staff Médico</a
        >
      </li>
      <li class="hover:underline">
        <a class="text-white font-semibold text-base" href="#contactenos"
          >Contáctanos</a
        >
      </li>
    </ul>
    <div class="py-2">
      <a
        class="font-bold rounded-lg border border-white px-3 py-1 text-[#045C6D] bg-white hover:text-white hover:bg-[#045C6D]"
        href="citaonline">Cita Online</a
      >
    </div>
  </nav>
</div>
