<main class="px-12 py-10">
  <div
    class="flex flex-col-reverse md:flex-row items-center justify-center gap-10"
  >
    <div class="flex flex-col gap-4 py-10 px-5">
      <h3 class="text-xl font-bold">Por ti y para ti</h3>
      <h1 class="text-5xl font-semibold text-[#045C6D]">Health Clinic</h1>
      <p class="max-w-full md:max-w-80">
        Experimente un tratamiento compasivo y personalizado en nuestro
        reconocido centro médico.
      </p>
      <div>
        <a
          href="nosotros"
          class="bg-teal-600 text-white px-4 py-2 rounded-lg text-center"
          >ver mas</a
        >
      </div>
    </div>
    <img
      class="size-64 md:size-80 lg:size-96"
      src="doctors.png"
      alt="doctores"
      width="100%"
    />
  </div>
</main>
