---
import Instagram from "../../icons/Instagram.astro";
---

<section class="bg-[#C7EAF5]">
  <h2 class="text-3xl text-center font-bold pt-10">Servicios</h2>
  <div class="flex gap-10 justify-around w-9/12 m-auto py-20 flex-wrap">
    <div class="flex flex-col gap-2 items-center p-4">
      <Instagram />
      <h2 class="font-bold">Ambulancia</h2>
      <p class="text-xs text-[#737373] max-w-44 text-center">
        Contamos con servicio de ambulancia propia para atender cualquiere
        emergencia
      </p>
    </div>
    <div class="flex flex-col gap-2 items-center p-4">
      <Instagram />
      <h2 class="font-bold">Ambulancia</h2>
      <p class="text-xs text-[#737373] max-w-44 text-center">
        Contamos con servicio de ambulancia propia para atender cualquiere
        emergencia
      </p>
    </div>
    <div class="flex flex-col gap-2 items-center p-4">
      <Instagram />
      <h2 class="font-bold">Ambulancia</h2>
      <p class="text-xs text-[#737373] max-w-44 text-center">
        Contamos con servicio de ambulancia propia para atender cualquiere
        emergencia
      </p>
    </div>
    <div class="flex flex-col gap-2 items-center p-4">
      <Instagram />
      <h2 class="font-bold">Ambulancia</h2>
      <p class="text-xs text-[#737373] max-w-44 text-center">
        Contamos con servicio de ambulancia propia para atender cualquiere
        emergencia
      </p>
    </div>
  </div>
</section>
