---
import Instagram from "../../icons/Instagram.astro";
---

<section class="bg-[#067A92] text-white">
  <h2 class="text-3xl text-center font-bold pt-10">Servicios</h2>
  <div class="flex gap-10 justify-around w-9/12 m-auto py-20 flex-wrap">
    <div class="flex flex-col gap-2 items-center p-4">
      <Instagram />
      <h2 class="font-bold">Ambulancia</h2>
      <p class="text-xs max-w-44 text-center">
        Contamos con servicio de ambulancia propia para atender cualquier
        emergencia
      </p>
    </div>
    <div class="flex flex-col gap-2 items-center p-4">
      <Instagram />
      <h2 class="font-bold">Anestesiologia</h2>
      <p class="text-xs max-w-44 text-center">
        Cuidados especiales durante las intervenciones quirúrgicas
      </p>
    </div>
    <div class="flex flex-col gap-2 items-center p-4">
      <Instagram />
      <h2 class="font-bold">UCI</h2>
      <p class="text-xs max-w-44 text-center">
        Contamos con quipos de monitoreo modernos y diagnóstico de primera
      </p>
    </div>
    <div class="flex flex-col gap-2 items-center p-4">
      <Instagram />
      <h2 class="font-bold">Emergencia</h2>
      <p class="text-xs max-w-44 text-center">
        Ofrecemos el servicio de emergencia las 24 horas del día, los 365 días
        del año
      </p>
    </div>
  </div>
</section>
