<section class="flex flex-col items-center m-10 gap-8">
  <h2 class="text-center text-3xl font-bold text-[#033D49]">Staff Medico</h2>
  <p class="text-center max-w-[600px] m-auto">
    Conozca a nuestro equipo de especialistas y reciba la mejor atención por su
    salud y bienestar. Cuando más lo necesitas, estamos para ti.
  </p>
  <div class="flex justify-evenly gap-12 flex-wrap">
    <div class="flex flex-col items-center">
      <div class="bg-red-300 mb-4 rounded-lg">
        <img src="principaldoctor3.png" alt="imagen de doctor" />
      </div>
      <h4 class="text-[#2E2E2E] font-semibold">John Dae Dae</h4>
      <h5 class="text-[#0799B6] font-bold">Cirujano</h5>
    </div>
    <div class="flex flex-col items-center">
      <div class="bg-red-300 mb-4 rounded-lg">
        <img src="principaldoctor3.png" alt="imagen de doctor" />
      </div>
      <h4 class="text-[#2E2E2E] font-semibold">John Dae Dae</h4>
      <h5 class="text-[#0799B6] font-bold">Cirujano</h5>
    </div>
    <div class="flex flex-col items-center">
      <div class="bg-red-300 mb-4 rounded-lg">
        <img src="principaldoctor3.png" alt="imagen de doctor" />
      </div>
      <h4 class="text-[#2E2E2E] font-semibold">John Dae Dae</h4>
      <h5 class="text-[#0799B6] font-bold">Cirujano</h5>
    </div>
    <div class="flex flex-col items-center">
      <div class="bg-red-300 mb-4 rounded-lg">
        <img src="principaldoctor3.png" alt="imagen de doctor" />
      </div>
      <h4 class="text-[#2E2E2E] font-semibold">John Dae Dae</h4>
      <h5 class="text-[#0799B6] font-bold">Cirujano</h5>
    </div>
  </div>
  <div>
    <a class="bg-teal-900 py-2 px-4 rounded-lg text-white" href="medicos"
      >ver staff</a
    >
  </div>
</section>
