---
import Instagram from "../../icons/Instagram.astro";
---

<section class="bg-[#067A92]">
  <div class="flex gap-10 justify-evenly py-8 w-[1080px] m-auto">
    <div class="flex flex-col gap-2 text-white items-center p-4">
      <Instagram />
      <h2 class="text-lg font-semibold">36</h2>
      <h4 class="font-bold">Emergencias Atendidas</h4>
    </div>
    <div class="flex flex-col gap-2 text-white items-center p-4">
      <Instagram />
      <h2 class="text-lg font-semibold">36</h2>
      <h4 class="font-bold">Emergencias</h4>
    </div>
    <div class="flex flex-col gap-2 text-white items-center p-4">
      <Instagram />
      <h2 class="text-lg font-semibold">36</h2>
      <h4 class="font-bold">Emergencias Atendidas</h4>
    </div>
    <div class="flex flex-col gap-2 text-white items-center p-4">
      <Instagram />
      <h2 class="text-lg font-semibold">36</h2>
      <h4 class="font-bold">Emergencias</h4>
    </div>
  </div>
</section>
