---
import Layout from "../layouts/Layout.astro";
import Header from "../components/sections/Header.astro";
import Headertoheader from "../components/Headertoheader.astro";
---

<Layout title="Medicos">
  <Header />
  <h1 transition:animate="fade" class="text-black">soy medicos</h1>
</Layout>
