---
import Layout from "../layouts/Layout.astro";
import Header from "../components/sections/Header.astro";
import Headertoheader from "../components/Headertoheader.astro";
---

<Layout title="Servicios">
  <Header />
  <h1 class="text-black">soy servicios</h1>
</Layout>
