<main class="flex items-center gap-4 m-auto w-[780px]">
  <div class="flex flex-col">
    <h2 class="text-white text-3xl font-bold">Quienes Somos</h2>
    <p class="text-white text-base">
      Experimente un tratamiento compasivo y personalizado en nuestro reconocido
      centro medico
    </p>
    <div>
      <a
        class="rounded-lg border border-white px-3 py-0.5 text-white bg-[#0799B6]"
        href="#">ver mas</a
      >
    </div>
  </div>
  <img src="" alt="imagen de persona" />
</main>
