<div
  class="py-44 pr-20 pl-10 flex justify-end bg-[url('/hservicios.webp')] w-full bg-cover bg-center h-auto bg-no-repeat"
>
  <div class="py-2">
    <h2 class="text-white font-bold text-5xl">Nuestros Servicios</h2>
    <p class="text-white max-w-xl mt-10">
      Para acompañarte durante el proceso que pases con nosotros ofrecemos
      servicios adicionales que pueden facilitarte y ayudarte en cualquier
      momento que lo requieras
    </p>
  </div>
</div>
