---
import TablerAlimentacion from "../../../icons/Tabler-salad.astro";
import TablerAmbulance from "../../../icons/Tabler-ambulance.astro";
import TablerBrain from "../../../icons/Tabler-brain.astro";
import TablerChequeosMedicos from "../../../icons/Tabler-chequeosmedicos.astro";
import TablerClipboardHeart from "../../../icons/Tabler-clipboard-heart.astro";
import TablerNacerSeguro from "../../../icons/Tabler-nacerseguro.astro";
import TablerStethoscope from "../../../icons/Tabler-stethoscope.astro";
import TablerVaccineBottle from "../../../icons/Tabler-vaccine-bottle.astro";

const TAGS = {
  HOSPITALIZACION: {
    icon: TablerClipboardHeart,
  },
  AMBULANCIA: {
    icon: TablerAmbulance,
  },
  CENTROQUIRURGICO: {
    icon: TablerStethoscope,
  },
  UCI: {
    icon: TablerBrain,
  },
  EMERGENCIA: {
    icon: TablerClipboardHeart,
  },
  LABORATORIO: {
    icon: TablerVaccineBottle,
  },
  CHEQUEOS: {
    icon: TablerChequeosMedicos,
  },
  NACERSEGURO: {
    icon: TablerNacerSeguro,
  },
  ALIMENTACION: {
    icon: TablerAlimentacion,
  },
};

const SERPRINCIPALES = [
  {
    name: "Hospitalización",
    paragraph:
      "De ser necesario permanecer en el hospital contamos con espacios capacitados para su estadía tanto del paciente y de su acompañante",
    tags: [TAGS.HOSPITALIZACION],
  },
  {
    name: "Ambulancia",
    paragraph:
      "Contamos con servicio de ambulancia las 24 horas del día, los 365 días del año, solo comunícate con y estaremos ahí lo más pronto posible",
    tags: [TAGS.AMBULANCIA],
  },
  {
    name: "Centro quirúrgico",
    paragraph:
      "Durante operaciones sencillas o de urgencia contamos con áreas quirúrgicas actualizadas y del más alto a nivel ",
    tags: [TAGS.CENTROQUIRURGICO],
  },
  {
    name: "UCI",
    paragraph:
      "En un momento muy complicado puedes confiar a nosotros ya que el área UCI esta altamente capacitado tanto de profesionales y equipos",
    tags: [TAGS.UCI],
  },
  {
    name: "Emergencia",
    paragraph:
      "Porque no estamos libres de cualquier problema, estamos preparados ante cualquier emergencia con áreas y profesionales calificados",
    tags: [TAGS.EMERGENCIA],
  },
  {
    name: "Laboratorio",
    paragraph:
      "Contamos con un laboratorio altamente capacitado brindando resultados en el menor tiempo posible en formato físico digital y físico",
    tags: [TAGS.LABORATORIO],
  },
];

const PLANES = [
  {
    name: "Chequeos Médicos",
    paragraph:
      "Porque uno no puede estar libre de cualquier dificultad médica contamos con varios planes de chequeos médicos a tu disposición",
    tags: [TAGS.CHEQUEOS],
  },
  {
    name: "Nacer Seguro",
    paragraph:
      "Durante una de las mejores etapas que la familia puede atravesar, podemos acompañarte con chequeos internos o externos hasta el día del nacimiento",
    tags: [TAGS.NACERSEGURO],
  },
  {
    name: "Alimentación",
    paragraph:
      "Porque no basta con asistir a las consultas anuales contamos con un programa especializado en la alimentación balanceada para usted",
    tags: [TAGS.ALIMENTACION],
  },
];
---

<section class="px-12 py-10 md:px-16 lg:px-28">
  <h2 class="font-bold text-2xl text-[#033D49] mb-12">Servicios principales</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-16 gap-y-10">
    {
      SERPRINCIPALES.map(({ name, paragraph, tags }) => {
        return (
          <div class="group flex flex-col gap-y-4 bg-white shadow-md py-20 px-8 rounded-lg hover:bg-[#033D49] hover:text-white">
            <span class="bg-[#033D49] text-white rounded-full text-center h-12 w-12 flex items-center justify-center group-hover:text-[#033D49] group-hover:bg-white">
              {tags.map((tag) => (
                <tag.icon class="size-6" />
              ))}
            </span>
            <h3 class="font-bold text-xl">{name}</h3>
            <p class="text-sm max-w-64">{paragraph}</p>
          </div>
        );
      })
    }
  </div>
</section>

<section class="px-12 py-10 md:px-16 lg:px-28">
  <h2 class="font-bold text-2xl text-[#033D49] mb-12">Planes y Programas</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-16 gap-y-10">
    {
      PLANES.map(({ name, paragraph, tags }) => {
        return (
          <div class="group flex flex-col gap-y-4 bg-white shadow-md py-20 px-8 rounded-lg hover:bg-[#033D49] hover:text-white">
            <span class="bg-[#033D49] text-white rounded-full text-center h-12 w-12 flex items-center justify-center group-hover:text-[#033D49] group-hover:bg-white">
              {tags.map((tag) => (
                <tag.icon class="size-6" />
              ))}
            </span>
            <h3 class="font-bold text-xl">{name}</h3>
            <p class="text-sm max-w-64">{paragraph}</p>
          </div>
        );
      })
    }
  </div>
</section>
