---
import Facebook from "../../../icons/Tabler-brand-facebook.astro";
---

<section class="px-12 py-10 md:px-16 lg:px-28">
  <h2 class="font-bold text-2xl text-[#033D49] mb-12">Servicios principales</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-16 gap-y-10">
    <!-- card -->
    <div
      class="group flex flex-col gap-y-4 bg-white shadow-md py-20 px-8 rounded-lg hover:bg-[#033D49] hover:text-white"
    >
      <span
        class="bg-[#033D49] text-white rounded-full text-center h-12 w-12 flex items-center justify-center group-hover:text-[#033D49] group-hover:bg-white"
      >
        <Facebook class="icon size-6" />
      </span>
      <h3 class="font-bold text-xl">Hospitalización</h3>
      <p class="text-sm max-w-64">
        De ser necesario permanecer en el hospital contamos con espacios
        capacitados para su estadía tanto del paciente y de su acompañante
      </p>
    </div>

    <!-- card -->
    <div
      class="group flex flex-col gap-y-4 bg-white shadow-md py-20 px-8 rounded-lg hover:bg-[#033D49] hover:text-white"
    >
      <span
        class="bg-[#033D49] text-white rounded-full text-center h-12 w-12 flex items-center justify-center group-hover:text-[#033D49] group-hover:bg-white"
      >
        <Facebook class="icon size-6" />
      </span>
      <h3 class="font-bold text-xl">Ambulancia</h3>
      <p class="text-sm max-w-64">
        Contamos con servicio de ambulancia las 24 horas del día, los 365 días
        del año, solo comunícate con y estaremos ahí lo más pronto posible
      </p>
    </div>
    <!-- card -->
    <div
      class="group flex flex-col gap-y-4 bg-white shadow-md py-20 px-8 rounded-lg hover:bg-[#033D49] hover:text-white"
    >
      <span
        class="bg-[#033D49] text-white rounded-full text-center h-12 w-12 flex items-center justify-center group-hover:text-[#033D49] group-hover:bg-white"
      >
        <Facebook class="icon size-6" />
      </span>
      <h3 class="font-bold text-xl">Centro quirúrgico</h3>
      <p class="text-sm max-w-64">
        Durante operaciones sencillas o de urgencia contamos con áreas
        quirúrgicas actualizadas y del más alto a nivel
      </p>
    </div>
  </div>
</section>

<section class="px-12 py-10 md:px-16 lg:px-28">
  <h2 class="font-bold text-2xl text-[#033D49] mb-12">Planes y Programas</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-16 gap-y-10">
    <!-- card -->
    <div
      class="group flex flex-col gap-y-4 bg-white shadow-md py-20 px-8 rounded-lg hover:bg-[#033D49] hover:text-white"
    >
      <span
        class="bg-[#033D49] text-white rounded-full text-center h-12 w-12 flex items-center justify-center group-hover:text-[#033D49] group-hover:bg-white"
      >
        <Facebook class="icon size-6" />
      </span>
      <h3 class="font-bold text-xl">Chequeos Médicos</h3>
      <p class="text-sm max-w-64">
        Porque uno no puede estar libre de cualquier dificultad médica contamos
        con varios planes de chequeos médicos a tu disposición
      </p>
    </div>

    <!-- card -->
    <div
      class="group flex flex-col gap-y-4 bg-white shadow-md py-20 px-8 rounded-lg hover:bg-[#033D49] hover:text-white"
    >
      <span
        class="bg-[#033D49] text-white rounded-full text-center h-12 w-12 flex items-center justify-center group-hover:text-[#033D49] group-hover:bg-white"
      >
        <Facebook class="icon size-6" />
      </span>
      <h3 class="font-bold text-xl">Nacer Seguro</h3>
      <p class="text-sm max-w-64">
        Durante una de las mejores etapas que la familia puede atravesar,
        podemos acompañarte con chequeos internos o externos hasta el día del
        nacimiento
      </p>
    </div>
    <!-- card -->
    <div
      class="group flex flex-col gap-y-4 bg-white shadow-md py-20 px-8 rounded-lg hover:bg-[#033D49] hover:text-white"
    >
      <span
        class="bg-[#033D49] text-white rounded-full text-center h-12 w-12 flex items-center justify-center group-hover:text-[#033D49] group-hover:bg-white"
      >
        <Facebook class="icon size-6" />
      </span>
      <h3 class="font-bold text-xl">Alimentación</h3>
      <p class="text-sm max-w-64">
        Porque no basta con asistir a las consultas anuales contamos con un
        programa especializado en la alimentación balanceada para usted
      </p>
    </div>
  </div>
</section>
