---
import InputSearch from "./InputSearch.astro";

import { medicos } from "../../../../data.json";
---

<div class="mx-4">
  <div
    class="bg-[#033D49] flex items-center justify-center py-8 rounded-lg mt-10 gap-x-10 flex-wrap gap-y-10 max-w-4xl m-auto px-2"
  >
    <h3 class="text-white font-bold">Buscar por nombre o especialidad</h3>
    <InputSearch />
    <InputSearch />
  </div>
</div>

<div class="flex justify-center py-10">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-10 gap-y-10 px-10"
  >
    {
      medicos.map(({ img, name, profesion }) => {
        return (
          <div class="flex flex-col gap-y-3 items-center">
            <a
              class={`group w-48 h-48 rounded-full flex items-center justify-center bg-[url${img}] bg-cover bg-center bg-no-repeat`}
              href="#"
              title="doctor"
            >
              <h4 class="group-hover:text-white group-hover:block hidden font-bold">
                ver perfil
              </h4>
            </a>
            <div>
              <h3 class="text-base font-semibold text-black text-center">
                {name}
              </h3>
              <h4 class="text-lg font-bold text-[#045C6D] text-center">
                {profesion}
              </h4>
            </div>
          </div>
        );
      })
    }
  </div>
</div>

<style>
  .group:hover {
    background: #045c6d;
  }
</style>
