<div
  class="py-44 pr-20 pl-10 flex justify-end bg-[url('/hmedicos.webp')] w-full bg-cover bg-center h-auto bg-no-repeat"
>
  <div class="py-2">
    <h2 class="text-white font-bold text-3xl md:text-5xl">Staff Médico</h2>
    <p class="text-white max-w-xl mt-10">
      Contamos con profesionales altamente capacitados para brindarte la mejor
      atención posible durante el tiempo que requieras de nosotros, no dudes en
      buscar lo mejor para ti
    </p>
  </div>
</div>
