---
import ButtonWhatsapp from "../components/ButtonWhatsapp.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Footer from "../components/sections/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import Header from "../components/sections/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <SectionContainer>
      <Header />
      <ButtonWhatsapp />
      <main>
        <slot />
      </main>
      <Footer />
    </SectionContainer>
    <style is:global>
      :root {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        outline: none;
        text-wrap: pretty;
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
