---
import { ViewTransitions } from "astro:transitions";
import Headercita from "../components/sections/Headercita.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
  </head>
  <body>
    <Headercita />
    <main>
      <slot />
    </main>
    <style is:global>
      :root {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        outline: none;
        text-wrap: pretty;
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
