---
import Anestesiologia from "../../../icons/Tabler-vaccine.astro";
import Cardiologia from "../../../icons/Tabler-heartbeat.astro";
import Cirugias from "../../../icons/Tabler-crutches.astro";
import MedicinaGeneral from "../../../icons/Tabler-vaccine-bottle.astro";
import Nutricion from "../../../icons/Tabler-salad.astro";
import Psicologia from "../../../icons/Tabler-brain.astro";
---

<section class="w-full m-auto flex flex-col items-center py-10">
  <div class="w-8/12">
    <h2 class="text-3xl text-center font-bold pt-10 text-[#033D49]">
      Especialidades
    </h2>
    <p class="text-center my-8 max-w-[600px] m-auto">
      Por que la salud no es un juego, aquí en <span
        class="font-bold text-[#5C5C5C]">Healt Clinic</span
      > contamos con más de 15 espacialidades equipadas con la mejor calidad para
      cuidarte junto con tu familia
    </p>
    <div class="flex flex-wrap gap-8 w-full justify-center">
      <a
        class="bg-[#1B7997] hover:bg-[#0E3D4C] w-60 h-40 rounded-xl flex flex-col items-center justify-center text-white text-lg font-bold"
        href="especialidades"
      >
        <Anestesiologia class="size-8" />
        Anestesiologia
      </a>
      <a
        class="bg-[#1B7997] hover:bg-[#0E3D4C] w-60 h-40 rounded-xl flex flex-col items-center justify-center text-white text-lg font-bold"
        href="especialidades"
      >
        <Cardiologia class="size-8" /> Cardiologia
      </a>
      <a
        class="bg-[#1B7997] hover:bg-[#0E3D4C] w-60 h-40 rounded-xl flex flex-col items-center justify-center text-white text-lg font-bold"
        href="especialidades"
      >
        <Cirugias class="size-8" />
        Cirugias
      </a>
      <a
        class="bg-[#1B7997] hover:bg-[#0E3D4C] w-60 h-40 rounded-xl flex flex-col items-center justify-center text-white text-lg font-bold"
        href="especialidades"
      >
        <MedicinaGeneral class="size-8" />
        Medicina General
      </a>
      <a
        class="bg-[#1B7997] hover:bg-[#0E3D4C] w-60 h-40 rounded-xl flex flex-col items-center justify-center text-white text-lg font-bold"
        href="especialidades"
      >
        <Nutricion class="size-8" />
        Nutricion
      </a>
      <a
        class="bg-[#1B7997] hover:bg-[#0E3D4C] w-60 h-40 rounded-xl flex flex-col items-center justify-center text-white text-lg font-bold"
        href="especialidades"
      >
        <Psicologia class="size-8" />
        Piscologia
      </a>
    </div>
    <div class="flex items-center justify-center mt-12">
      <a class="bg-teal-900 py-2 px-4 rounded-lg text-white" href="medicos"
        >ver especialidades</a
      >
    </div>
  </div>
</section>
