---
import Consultorio from "../../../icons/Tabler-building-hospital.astro";
import EmergenciasAtendidas from "../../../icons/Tabler-heart.astro";
import EspecialidadesMedicas from "../../../icons/Tabler-first-aid-kit.astro";
import ProfesionalesCapacitados from "../../../icons/Tabler-stethoscope.astro";
---

<section class="bg-[#067A92]">
  <div class="flex gap-8 justify-evenly py-8 w-10/12 m-auto flex-wrap">
    <div class="flex flex-col gap-2 text-white items-center justify-center p-4">
      <EspecialidadesMedicas class="size-8" />
      <h2 class="text-lg font-semibold text-center">+36</h2>
      <h3 class="font-bold text-center max-w-32">Especialidades Médicas</h3>
    </div>
    <div class="flex flex-col gap-2 text-white items-center justify-center p-4">
      <EmergenciasAtendidas class="size-8" />
      <h2 class="text-lg font-semibold text-center">120</h2>
      <h3 class="font-bold text-center max-w-32">Emergencias Atendidas</h3>
    </div>
    <div class="flex flex-col gap-2 text-white items-center justify-center p-4">
      <Consultorio class="size-8" />
      <h2 class="text-lg font-semibold text-center">12</h2>
      <h3 class="font-bold text-center max-w-32">Consultorios y/o sedes</h3>
    </div>
    <div class="flex flex-col gap-2 text-white items-center justify-center p-4">
      <ProfesionalesCapacitados class="size-8" />
      <h2 class="text-lg font-semibold text-center">80</h2>
      <h3 class="font-bold text-center max-w-32">Profesionales Capacitados</h3>
    </div>
  </div>
</section>
